@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-start-rgb: 24, 24, 24;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
  /* linear-gradient(45deg, #10002b, #240046, #3c096c); */
  #240046
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


/* @keyframes gradientAnimation {
  0%, 100% {
    background: linear-gradient(45deg, #10002b, #240046);
  }
  50% {
    background: linear-gradient(45deg, #240046, #3c096c);
  }
} */